# Environnement
.env

# Node modules pour toutes les apps
**/node_modules/

# Dossiers de build
**/dist/
**/build/

# Backups
*.backup
.backups/

# Logs
*.log

# Playwright / cache TS
apps/web/playwright-report/
apps/web/test-results/
**/tsconfig.tsbuildinfo
